{% extends 'header.html' %}
<style>
</style>
<body>
    {% block content %}


    <div class="jumbotron" id="top-jumbotron">
        <p class="lead">Глава 1. Введение в программирование Python</p>
      <h1 class="display-4">Основные языковые конструкции</h1>
      <hr class="my-4">
      <p>Python является регистрозависимым и строкозависимым языком. Для
объединения команд не используются фигурные скобки или какие-либо
ключевые слова – в Python зависимость команд определяется фиксированными отступами от начала строки. Рассмотрим пример кода, реализующего поиск простых чисел (чисел, которые делятся только на единицу
и на самих себя):</p>
        <form><textarea id="yourcode">
i = 2; i_max = 100
num_str = ''
print('Simple nums from',i,' to ', i_max)
while i <= i_max:
    j = 2
    prime = True
    while j <= i/j:
        if i%j == 0:
            prime = False
            break
        j += 1
    if prime:
        num_str+=(str(i))+'\t'
    i += 1
print(num_str)
        </textarea> <div class="text-right"><button type="button" class="btn btn-outline-secondary" onclick="runit('yourcode', 'output', 'mycanvas')">Выполнить</button></div></form>
        <pre id="output" ></pre> <div id="mycanvas"></div>
        <p>В этом алгоритме используются два цикла while: первый включает в
себя строки с 3 по 12, второй, вложенный в первый, содержит строки с 6
по 10. Отступы (по умолчанию 4 пробела) позволяют точно идентифицировать блоки команд и, одновременно, красиво оформить текст программы. Блок операторов внутри конструкции if (строки 7-9) также определён с помощью отступов. Для второго условия if, содержащего всего
одну команду, можно обойтись без отступов (строка 11). Но двоеточие,
разграничивающее условие и выполняемое действие является обязательным (строки 3, 6, 7, 11).
Точка с запятой после команд не нужна, но может использоваться в
качестве разделителя команд, если они написаны на одной строке
10
(пример – строка 1). Символ '\t' в операторе вывода print – это символ
табуляции.
Python является языком с достаточно строгой динамической типизацией. В частности, числа в Python представлены классами int (длинные
целые), float (вещественные) и complex (комплексные). Явное объявление
типа переменной отсутствует. При выполнении программы переменная
может получить или изменить тип в зависимости от присвоенного значения. Значения логического типа True и False соответствуют целочисленным значениям 1 и 0. Поэтому условие в строке 7 можно переписать так:
        </p>
       <form>
<textarea id="yourcode2">
if not(i%j):
</textarea>
           <div class="text-right"><button type="button" class="btn btn-outline-secondary" onclick="runit('yourcode2', 'output2', 'mycanvas2')">Выполнить</button></div>

       </form>
        <pre id="output2" ></pre> <div id="mycanvas2"></div>
        <p>Математическая операция % возвращает остаток от деления, оператор break прерывает ближайший к нему (внутренний) цикл, Си-подобная
конструкция i += 1 является краткой записью выражения i = i + 1. На
самом деле переменная prime в коде лишняя: следующий пример выглядит гораздо короче, но работать будет аналогично предыдущему:
        </p>
        <form>
<textarea id="yourcode3">
for i in range(2, 101):
    j = 2
    while j <= i/j:
        if not(i%j): break
        j += 1
    else: print (i)
</textarea>
           <div class="text-right"><button type="button" class="btn btn-outline-secondary" onclick="runit('yourcode3', 'output3', 'mycanvas3')">Выполнить</button></div>

       </form>
        <pre id="output3" ></pre> <div id="mycanvas3"></div>



        <p>
            Здесь внешний цикл реализован с помощью конструкции for. В языке
Python цикл for всегда реализует перебор элементов некоторого набора,
указанного после ключевого слова in. Например, это может быть какойлибо список. В данном случае такую структуру создаёт функция range, в
качестве аргументов этой функции заданы начало и конец целочисленной последовательности (шаг по умолчанию равен единице).
Конструкция else в строке 6 относится не к оператору if (для оператора if в данном контексте она не нужна), а к оператору while и означает
выполнение действия только в случае, если цикл был завершён «корректно», т.е. без использования break.
И, наконец, пример короткой, самой быстрой из предложенных и специфичной именно для Python реализации алгоритма поиска простых чисел:
        </p>

        <form>
<textarea id="yourcode4">
import math
print('2\t')
for i in range(3,101,2):
    if all(i%j for j in range(2, 1+int(math.sqrt(i)))):
        print (i)

</textarea>
           <div class="text-right"><button type="button" class="btn btn-outline-secondary" onclick="runit('yourcode4', 'output4', 'mycanvas4')">Выполнить</button></div>

       </form>
        <pre id="output4" ></pre> <div id="mycanvas4"></div>

<p>
    Здесь нам потребовалось импортировать модуль математических
функций (строка 1), из которой понадобился корень квадратный для более корректного ограничения перебираемых делителей. Поскольку,
кроме числа 2, других чётных чисел среди простых нет, функция range
теперь выдаст нам только нечётные числа (третий аргумент – шаг). Конструкция if all проверяет каждый элемент последовательности на выполнение указанного условия, а сама последовательность значений формируется с помощью генератора списка for в строке 4.
Заметим, что в Python нет характерного для других языков программирования понятия массив. Есть списки, кортежи, множества и словари,
которые в целом гораздо функциональнее обычных массивов. Наиболее
близким к «классическому» массиву является список.

    Список является изменяемой последовательностью, т.е. можно различным образом модифицировать элементы списка. Следует быть внимательным при присваивании списка другой переменной – на самом деле
в этом случае происходит передача ссылки на один и тот же список. Для
выбора фрагмента списка (что называется срезом) используется
12
следующий синтаксис (отрицательный индекс означает смещение от
конца списка):

</p>







        <div class="text-right"><button class="btn btn-outline-secondary" type="button" onclick="location.href='/matplotlib/'">Следующая тема</button></div>

    </div>


    {% endblock %}
</body>