{% extends 'header.html' %}
<style>
</style>
<body>
    {% block content %}


    <div class="jumbotron" id="top-jumbotron">
        <p class="lead">Глава 2. Получение и визуализация данных эксперимента</p>
      <h1 class="display-4">Подключение устройства сбора данных NI USB 6351</h1>
      <hr class="my-4">
      <p>Рассмотрим пример, связанный с автоматизацией регистрации температуры в каком-либо физическом эксперименте (или, как вариант, за вашим окном). Для этого нам потребуется любая термопара, подключённая
к аналого-цифровому преобразователю (АЦП). Такое электронное
устройство мы можем легко найти в стандартной плате сбора данных.
Компания National Instruments специализируется на выпуске соответствующих устройств, которые уже давно стали фактическим стандартом
для экспериментальных исследований. Однако для работы с этими
устройствами обычно используется система LabView, которую мы и собираемся заменить программой на Python.
Мы использовали устройство DAQ (Data acquisition, система сбора
данных) NI USB 6351. Это устройство, как следует из его обозначения,
использует USB-интерфейс для взаимодействия с компьютером. Для сопряжения с внешними устройствами (датчиками, периферийным оборудованием) имеется: 16 аналоговых входов с временным разрешением 10
нс и входным напряжением до ±10 В (АЦП), 2 аналоговых выхода (16-
разрядные цифро-аналоговые преобразователи), 24 цифровых ввода-вывода, четыре 32-битных счётчика-таймера до 25 МГц, генератор базовых
частот. Из этого изобилия возможностей мы будем использовать только
один аналоговый двуполярный вход AI0 (клеммы + и – ), к которым и
подключим термопару.
Первый этап состоит в установке актуальных драйверов поддержки
оборудования National Instruments. Их следует скачать и установить с
сайта [6]. Драйверы относятся к свободно распространяемому программному обеспечению, необходима только регистрация на сайте. Возможно,
вместе с драйверами вы разрешите инсталлятору установить ряд дополнительных программ от National Instruments, которые обычно весьма полезны на стадии отладки приложений, работающих с DAQ.
На втором этапе проверяем подключение и работу устройства с использованием загруженной вместе с драйверами программы NI Device
Monitor (рис. 12). Устройство сбора данных в нашей системе установилось с именем Dev1, для работы нам нужен аналоговый вход ai0.

          Далее устанавливаем пакет nidaqmx из командной строки Windows в
режиме администратора.

Эта библиотека постоянно модифицируется и её функциональные
возможности всё время увеличиваются. Поэтому при использовании рассмотренных ниже примеров следует обязательно руководствоваться актуальным описанием для данной библиотеки. Далее, если не оговорено
особо, мы использовали оболочку IDLE Python в режиме программирования (программа сохранялась в файл и запускалась на выполнение).
Полное описание возможностей nidaqmx можно найти в [7]. Итак, напишем простую проверочную программу на Python для тестирования подключения к плате сбора данных:

      </p>
        <form>
<textarea id="yourcode">
import nidaqmx
with nidaqmx.Task() as task:
    task.ai_channels.add_ai_voltage_chan("Dev1/ai0")
    data = task.read(number_of_samples_per_channel = 10)
print(data)
</textarea>
            <div class="text-right">
                <button type="button" class="btn btn-outline-secondary"
                        onclick="runit('yourcode', 'output', 'mycanvas')">Выполнить
                </button>
            </div>
        </form>
        <pre id="output" ></pre> <div id="mycanvas"></div>





<p>Работа с DAQ-устройствами происходит в парадигме задач. То есть,
сначала устройство программируется на определённый вид деятельности, а затем мы начинаем получать данные с этого устройства. В нашем
случае в строке 4 мы программируем аналоговый вход 0 на получения
значений напряжения (это выглядит, на первый взгляд, тривиально, но в
коллекции методов у нас есть возможность запрограммировать конкретный вход на измерение иных физических величин). Выполняем задачу в
строке 5, измеряя 10 раз значение напряжения. Конструкция with … as
(так называемый менеджер контекста) делает более удобной работу с
объектом Task библиотеки nidaqmx и корректно формирует завершение
задачи. Всё, что связано с DAQ-задачей, пишем внутри этой конструкции.
Результат выполнения программы будет выведен в виде списка:
      </p>
        <pre id="output2" >
[0.07741842546889639, 0.07774029508782221,
0.07774029508782221, 0.07774029508782221,
0.07774029508782221, 0.07741842546889639,
0.07774029508782221, 0.07774029508782221,
0.07806216470670671, 0.07774029508782221]</pre> <div id="mycanvas2"></div>







        <div class="text-right"><button class="btn btn-outline-secondary" type="button" onclick="location.href='/baseconstructions/'">Следующая тема</button></div>

    </div>


    {% endblock %}
</body>