{% extends 'header.html' %}
<style>
</style>
<body>
    {% block content %}


    <div class="jumbotron" id="top-jumbotron">
        <p class="lead">Глава 1. Введение в программирование Python</p>
      <h1 class="display-4">Построение графиков. Библиотека matplotlib</h1>
      <hr class="my-4">
      <p>Построение разнообразных графиков на языке Python на самом деле
требует весьма небольшого кода, если обратиться за помощью к пакету
matplotlib. Эта библиотека воспроизводит визуализацию данных в стиле
пакета MATLAB, так что пользователи, работавшие с этим пакетом или
с его общедоступной альтернативой SciLab, смогут легко перейти на использование Python. Для работы с библиотекой в первую очередь следует
её установить (командная строка Windows в режиме администратора):</p>
        <form>
<textarea id="yourcode">
pip install matplotlib
</textarea>
            <div class="text-right"><button type="button" class="btn btn-outline-secondary"
                                            onclick="runit('yourcode', 'output', 'mycanvas')">Выполнить
                                    </button>
            </div>
        </form>
        <pre id="output" ></pre> <div id="mycanvas"></div>



        <p>
            Кроме того, здесь и далее нам потребуется библиотека numpy, которую также потребуется установить:
        </p>

        <form>
<textarea id="yourcode2">
pip install numpy
</textarea>
            <div class="text-right"><button type="button" class="btn btn-outline-secondary"
                                            onclick="runit('yourcode2', 'output2', 'mycanvas2')">Выполнить
                                    </button>
            </div>
        </form>
        <pre id="output2" ></pre> <div id="mycanvas2"></div>


         <p>
Ниже представлена простейшая программа, которая строит график
функции sin(x)/x на интервале от –10 до 10. На скриншоте (рис. 5) показан
результат её работы.
         </p>

        <form>
<textarea id="yourcode3">
import matplotlib.pyplot as plt
import numpy as np
X = np.arange(-10, 10, 0.1)
Y = np.sin(X)/X
plt.plot(X, Y)
plt.show()
</textarea>
            <div class="text-right"><button type="button" class="btn btn-outline-secondary"
                                            onclick="runit('yourcode3', 'output3', 'mycanvas3')">Выполнить
                                    </button>
            </div>
        </form>
        <pre id="output3" ></pre> <div id="mycanvas3"></div>



        <p>
Объясним некоторые особенности кода. В строках 1 и 2 импортируются библиотеки matplotlib и numpy. Если класс pyplot, очевидно, необходим для отображения графиков, необходимость numpy заключается в
математической обработке массивов также в стиле пакета MATLAB
(SciLab). Популярной особенностью MATLAB является возможность
очень лаконично, без каких-либо вложенных циклов, описывать операции с векторами и матрицами. Это, безусловно, в стиле Python. Именно
поэтому для удобства обработки данных здесь и далее будем пользоваться возможностями этой библиотеки, содержащей все необходимые
функции для работы с многомерными массивами. Однако сказанное не
означает, что pyplot не построит график для обычного списка Python.
Чуть ниже мы приведём пример использования pyplot без numpy.
А пока вернёмся к коду рассматриваемого примера. В строке 3 создаётся одномерный numpy-массив из монотонно увеличивающихся значений от –10 до 10 (не включая верхнюю границу) с шагом 0.1. То есть,
массив будет таким: [-10.0, -9.9, -9.8, -9.7, …, 9.7, 9.8,
9.9].
            Ранее говорилось, что в Python имеется функция range, которая создаёт перечисление по заданным условиям. Однако, к сожалению, range
работает только с целыми числами, что для этого примера неприемлемо.
Далее, массив Y – это значения нашей функции. В строке 4 мы вычисляем sin(X)/X для всех значений X. Именно для такой простой записи нам
потребовалась библиотека numpy. Если вы захотите поэкспериментировать и попробуете использовать синус из базовой библиотеки Python –
модуля math, код в строке 4 придётся делать более громоздким, например, таким:
         </p>


        <form>
<textarea id="yourcode4">
Y = np.array([math.sin(x)/x for x in X])
</textarea>
            <div class="text-right"><button type="button" class="btn btn-outline-secondary"
                                            onclick="runit('yourcode4', 'output4', 'mycanvas4')">Выполнить
                                    </button>
            </div>
        </form>
        <pre id="output4" ></pre> <div id="mycanvas4"></div>


        <p>

            И, наконец, в строке 5 вызывается метод plot с двумя аргументами X
и Y. Это единственная команда, которая самостоятельно формирует графическое окно – поле вывода графика, рассчитывает масштаб по осям
координат и выводит график функции. Все настройки окна выполнены в
данном случае по умолчанию, но их будет легко модифицировать по вашему усмотрению.
19
Если вы будете использовать iPython, график тотчас же появится на
экране. Если же вы работаете в среде IDLE Python или в командной
строке Python, обязательно потребуется строка 6.
Обратите внимание на кнопки с пиктограммами в нижней строке окна
графика. Дело в том, что само окно интерактивно, и, пока оно не закрыто,
можно масштабировать график по своему усмотрению. После нажатия на
кнопку появляется курсор в форме креста, с помощью которого на
поле графика можно левой клавишей мышки выделить прямоугольную
область, которая и будет увеличена. После нажатия на с помощью
мышки можно сдвигать изображение графика. С помощью кнопки
можно вернуться к исходному виду графика. Клавиши
используются для движения по истории созданных видов. Клавиша
открывает окно настройки расположения поля графика в графическом
окне. И, наконец, клавиша вызывает диалог сохранения изображения
в файл на диске в выбранном формате (png, pdf, eps, svg и др.).
Для ответа на вопрос, можно ли построить график этой же функции,
не используя библиотеку numpy, запустите представленный ниже пример.

        </p>

        <form>
<textarea id="yourcode5">
import matplotlib.pyplot as plt
import math as m
X = [-9.999999999 + 0.1*i for i in range(200)]
Y = [m.sin(x)/x for x in X]
plt.plot(X, Y)
plt.show()
</textarea>
            <div class="text-right"><button type="button" class="btn btn-outline-secondary"
                                            onclick="runit('yourcode5', 'output5', 'mycanvas5')">Выполнить
                                    </button>
            </div>
        </form>
        <pre id="output5" ></pre> <div id="mycanvas5"></div>



        <p>
            Весьма показательным для оценки качества вычислений является введённое нами по необходимости смещение в массиве X, чтобы предотвратить формальное деление на нуль в строке 5. В предыдущем примере неопределённость 0/0 была устранена автоматически. В дальнейших примерах мы будем преимущественно использовать numpy.
Заметим, что библиотека matplotlib позволяет использовать весьма
разнообразные способы графического представления данных, в том
числе создавать диаграммы различного вида, трёхмерные анимированные графики, различным образом позиционировать несколько графиков
на одном поле вывода, управлять отображением осей координат, и др. В
20
нашем случае мы ограничимся обзором базовых возможностей библиотеки, которые потребуются нам для решения дальнейших задач. Давайте
поэкспериментируем с отображением графика с использованием синтаксиса, типичного для MATLAB.
        </p>

        <p>
С точки зрения MATLAB возможности дизайна отображаемых кривых были бы исчерпаны вышеописанными примерами, но только не для
Python. Замечательная особенность этого языка заключается в возможности передавать значения в функцию с явным указанием имён параметров
        </p>
        <div class="text-right"><button class="btn btn-outline-secondary" type="button" onclick="location.href='/datacollect/'">Следующая тема</button></div>

    </div>


    {% endblock %}
</body>