{% extends 'header.html' %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .card-link{
        color: black;
    }
</style>
<body>
<div class="card" style="width: 18rem;">
  <div class="card-body">
      <h5 class="card-title">Python и экспериментальные исследования.</h5> </br>
      <h6><a href="#" class="card-link">Глава 1. Введение в программирование Python</a></h6> </br>
      <h7><a href="#" class="card-link">Настраиваем среду разработки</a></h7> </br>
      </br><h7><a href="#" class="card-link">Основные языковые конструкции</a></h7> </br>
      </br><h7><a href="#" class="card-link">Подглава 3</a></h7> </br>

      </br><h6><a href="#" class="card-link">Глава 2.</a></h6> </br>
      <h7><a href="#" class="card-link">Подглава1 </a></h7> </br>
      </br><h7><a href="#" class="card-link">Подглава 2</a></h7> </br>
      </br><h7><a href="#" class="card-link">Подглава 3</a></h7> </br>
  </div>
</div>
{% block content %}
{% endblock %}
</body>