{% extends 'header.html' %}
<style>
</style>
<body>
    {% block content %}


    <div class="jumbotron" id="top-jumbotron">
        <p class="lead">Глава 1. Введение в программирование Python</p>
      <h1 class="display-4">Настраиваем среду разработки</h1>
      <hr class="my-4">
      <p>Среда Python может быть установлена под различные операционные системы.
          Инсталлятор языка и подробные инструкции можно получить на сайте поддержки [4].
          Имея опыт использования Python под операци-онными системами Microsoft Windows,
          Debian Linux и Raspbian (для мик-рокомпьютера Raspberry Pi),
          в данном пособии мы ограничим описание практических примеров Python средой Windows как наиболее
          распро-странённой среди пользователей, включая в их число и студентов, рабо-тающих в научных лабораториях.
          Для других операционных систем не-которые из приведённых примеров могут потребовать переработки,
          а не-которые модули и пакеты следует заменить на их эквиваленты в этих системах. Также следует обратить внимание,
          что все рассматриваемые примеры написаны для третьей версии языка Python. Мы использовали актуаль-ную на момент выпуска
          пособия версию Python 3.6.5. Следовательно, пользователи, ещё не ушедшие с Windows XP, также могут встретиться с рядом
          ошибок при установке пакетов и запуске предложенных примеров. Поэтому, во избежание ненужных проблем, в качестве базовой
          плат-формы мы предлагаем использовать 32-х или 64-разрядную Windows начиная с версии 7.
          После установки Python вы получаете в своё распоряжение среду раз-работки IDLE, которая
          включает в себя терминальное окно Python Shell, где можно комфортно работать в режиме
          командной строки (рис. 1) и до-статочно простой текстовый редактор, в котором удобно писать и отла-живать
          небольшие программы.</p>
        <form><textarea id="yourcode">import turtle
t = turtle.Turtle()

for c in ['red', 'green', 'yellow', 'blue']:
    t.color(c)
    t.forward(75)
    t.left(90)</textarea> <div class="text-right"><button type="button" class="btn btn-outline-secondary" onclick="runit('yourcode', 'output', 'mycanvas')">Выполнить</button></div></form>
        <pre id="output" ></pre> <div id="mycanvas"></div>
        <p>Для запуска редактора достаточно вы-брать пункт меню File → New File, и можно начинать. Запускается про-грамма на выполнение с помощью клавиши F5 или, из меню Run → Run Module. Использование встроенного редактора, как и самой IDLE, не яв-ляется обязательным: можно использовать любую универсальную среду разработчика программ или мощный редактор типа Atom или Microsoft Code. Файл с кодом программы обычно имеет расширение .py. Второй доступный способ работы с Python использует режим команд-ной строки Windows (команда операционной системы cmd). В окне Win-dows-терминала введите команду python, и оболочка языка запустится, что можно увидеть по характерному символу приглашения >>> (рис. 2).</p>
       <form><textarea id="yourcode2">print("hello, world!\n"*5)</textarea> <div class="text-right"><button type="button" class="btn btn-outline-secondary" onclick="runit('yourcode2', 'output2', 'mycanvas2')">Выполнить</button></div></form>
        <pre id="output2" ></pre> <div id="mycanvas2"></div>
        <p>Если «команда не найдена» – следует добавить в переменную окружения PATH путь к каталогу, где установлен Python. Выход из оболочки – ко-манда exit().Помимо обычного интерфейса Python, для использования системы в качестве своего рода интеллектуального блокнота удобно использовать расширение iPython – это интерактивная оболочка, поддерживающая дополнительный набор команд, цветовую подсветку кода и режим под-сказок при наборе команд (рис. 3). Особенно удобно использовать обо-лочку iPython вместе с графической библиотекой matplotlib, о которой будет рассказано в разделе 1.3.</p>
        <img src="">
        <p>Для установки этой оболочки, равно как и всех других пакетов, упо-минаемых в данном пособии, следует воспользоваться командной стро-кой Windows в режиме администратора: в командной строке следует набрать: > pip install ipython и соответствующее расширение языка будет установлено. Для запуска оболочки можно создать ярлык Windows, в свойствах которого описать объект запуска приблизительно таким образом: «C:\Windows\System32\cmd.exe /k ipython». Если вы хотите ещё большего сходства с интеллектуальной записной книжкой (или же вам не нравится работать в режиме командной строки), можно установить расширение Jupyter Notebook, и после этого интерактивно взаимодействовать с Python в окне Интернет-браузера. </p>
        <div class="text-right"><button class="btn btn-outline-secondary" type="button" onclick="location.href='/baseconstructions/'">Следующая тема</button></div>

    </div>


    {% endblock %}
</body>